@import 'components/global-style/base.scss';

.bridge {
	padding: 20px 0;
	min-height: 100vh;

	.bridge--blue {
		color: $text-color-22 !important;
		cursor: pointer;
	}

	&.dark {
		background: $background-7;

		.container {
			.bridge__content {
				.bridge__card {
					.bridge__cardContent {
						.bridge__connect {
							color: $text-color-6;
						}

						.bridge__arrow {
							color: $text-color-white-2;
						}

						.bridge__rowContainer {
							.bridge__row {
								color: $text-color-6;

								div {
									&:nth-of-type(2) {
										color: $text-color-white-2;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.container {
		@include container;

		.bridge__content {
			width: 420px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			gap: 20px;
			flex-direction: column;

			@media screen and (max-width: 576px) {
				width: 100%
			}

			.bridge__warning {
				color: $yellow-3;
				font-size: 14px;
			}

			.bridge__card {
				.bridge__cardContent {
					.bridge__connect {
						cursor: pointer;
						color: $text-color-21;
						font-size: 12px;
						line-height: 16px;
						text-align: right;
					}

					.bridge__arrow {
						display: flex;
						align-items: center;
						justify-content: center;
						padding-top: 30px;
						padding-bottom: 30px;
						cursor: pointer;

						&:hover {
							svg {
								path {
									&:nth-of-type(1) {
										animation: .6s rightArrow;
									}

									&:nth-of-type(2) {
										animation: .6s leftArrow;
									}
								}
							}
						}

						svg {
							width: 30px;
							height: 30px;
						}
					}

					.bridge__rowContainer {
						display: flex;
						flex-direction: column;
						gap: 8px;
						margin-top: 24px;
						margin-bottom: 24px;

						.bridge__row {
							display: flex;
							align-items: center;
							justify-content: space-between;
							font-size: 12px;
							line-height: 16px;
							color: $text-color-21;
						}
					}
				}
			}

			.bridge__link {
				display: flex;
				justify-content: center;

				a {
					display: flex;
					width: fit-content;
					font-weight: 600;
					text-decoration: none;
					align-items: center;
					color: $primary-2;

					&:hover {
						text-decoration: underline;
					}

					svg {
						fill: $primary-2;
					}
				}
			}
		}
	}
}

@keyframes leftArrow {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	50% {
		opacity: 0;
		transform: translateY(-100%);
	}

	51% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes rightArrow {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	50% {
		opacity: 0;
		transform: translateY(100%);
	}

	51% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}