@import 'components/global-style/base.scss';

.inputSearch {
	position: relative;
	width: 100%;

	&.dark {
		input {
			border: 1px solid $border-color-4;

			&::placeholder {
				color: $text-color-white-2;
			}
		}

		.inputSearch__modal {
			border-color: $primary-1;
			background: $background-6;

			.inputSearch__modal__header {
				.inputSearch__modal__header__item {
					color: $primary-1;
				}
			}

			.inputSearch__modal__body {
				.inputSearch__modal__body__item {
					.inputSearch__modal__top {
						.inputSearch__modal__top__first {
							color: $primary-1;
						}

						.inputSearch__modal__top__item {
							color: $text-color-white-2;
						}
					}

					.inputSearch__modal__bot {
						color: $text-color-white-2;
					}
				}

				.inputSearch__modal__line {
					background-color: $border-color-3;
				}
			}
		}
	}

	input {
		position: relative;
		z-index: 11;
		width: 100%;
		border: 1px solid transparent;
	}

	.inputSearch__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background-color: black;
		opacity: 0.7;
	}

	.inputSearch__modal {
		position: absolute;
		top: 50px;
		right: 0;
		z-index: 11;
		background-color: red;
		width: 80vw;
		max-width: 1024px;
		min-height: 200px;
		background: $background-3;
		padding: 1.5rem 1.5rem 2.5rem;
		border-radius: $border-radius;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.04) 0px 24px 32px;
		border: 1px solid $text-color-4;

		.inputSearch__modal__header {
			display: flex;
			gap: 10px;
			align-items: center;
			margin-bottom: 16px;

			.inputSearch__modal__header__item {
				font-size: 12px;
				font-weight: 600;
				width: fit-content;
				color: $text-color-4;
				cursor: pointer;
			}
		}

		.inputSearch__error {
			color: $background-22;
			font-weight: 400;
		}

		.inputSearch__modal__body {
			.inputSearch__modal__body__item {
				.inputSearch__modal__top {
					display: flex;
					gap: 10px;
					margin-top: 8px;
					margin-bottom: 8px;

					.inputSearch__modal__top__first {
						width: calc(40% - 5px);
						color: $text-color-4;
						font-weight: 600;
					}

					.inputSearch__modal__top__item {
						width: calc(20% - 5px);
						color: $text-color-3;
						font-size: 12px;
						display: flex;
						align-items: center;
						justify-content: flex-end;
					}




				}

				.inputSearch__modal__bot {
					color: $text-color-3;
					font-weight: 400;
					line-height: 1.5;
					font-size: 16px;

				}
			}

			.inputSearch__modal__line {
				height: 1px;
				background-color: $border-color;
				width: 100%;
				margin: 16px 0px;
			}
		}
	}
}