@import 'components/global-style/base.scss';

@mixin row {
	display: grid;
	grid-template-columns: 50% 25% 25%;
}

@mixin cell {
	padding-left: 10px;
	padding-right: 10px;

	&:last-child {
		text-align: right;
	}
}

.screenLarge {
	.screenLarge__header {
		.screenLarge__row {
			@include row;

			.screenLarge__cell {
				@include cell;

				color: $text-color-4;
				font-size: 12px;
				text-transform: uppercase;
				white-space: nowrap;
				font-weight: bold;
			}
		}
	}

	.screenLarge__body {
		.screenLarge__row {
			@include row;

			.screenLarge__cell {
				@include cell;
			}
		}
	}
}