@import 'components/global-style/base.scss';

.valueContent {
	color: $text-color-3;
	font-size: 14px;
	width: 100%;

	&.dark {
		color: $text-color-white-2;
	}

	.valueContent__rowTwoSide {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.valueContent__toolTipRoot {
			text-decoration-line: underline;
			text-decoration-thickness: initial;
			text-decoration-style: dotted;
			text-decoration-color: $text-color-1;
			text-underline-offset: 0.1em;
		}
	}

	.valueContent__rowOneSide {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		a {
			text-decoration: none;
			font-weight: 600;
			color: $primary-2;
		}

		svg {
			position: relative;
			top: 5px;
			fill: $primary-2;
		}
	}
}