@import 'src/components/global-style/base.scss';

.pill {
	align-items: center;
	border-radius: 16px;
	display: inline-flex;
	white-space: nowrap;
	height: 28px;
	padding: 4px;
	font-size: 10px;
	color: $text-color-4;
	background: none;
	border: 2px solid $text-color-4;
	width: fit-content;
}