@import 'src/components/global-style/base.scss';

.pill {
	align-items: center;
	display: inline-flex;
	white-space: nowrap;
	font-size: 10px;
	background: none;
	width: fit-content;

	&.outline {
		height: 28px;
		padding: 4px;
		color: $text-color-4;
		border: 2px solid $text-color-4;
		border-radius: 16px;
	}

	&.success {
		background: $text-color-7;
		border-radius: 9px;
		padding: 4px;
		font-weight: 600;
		font-size: 11px;
		color: $background-3;
	}

	&.fail {
		background: $background-22;
		border-radius: 9px;
		padding: 4px;
		font-weight: 600;
		font-size: 11px;
		color: $background-3
	}
}