@import 'components/global-style/base.scss';

.panel {
	padding: 48px 0;
	background: $background-41;

	.container {
		@include container;

		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}