@import 'components/global-style/base.scss';

.leaderBoard {
	background: $background-3;

	&.dark {
		background: $background-6;

		.container {
			.leaderBoard__header {
				color: $primary-1;
			}

			.leaderBoard__time {
				color: $text-color-6;
			}
		}
	}

	.container {
		@include container;

		.leaderBoard__header {
			color: $text-color-4;
			font-weight: 600;
			margin-bottom: 16px;
			text-align: center;
			font-size: 40px;
			line-height: 110%;
		}

		.leaderBoard__time {
			color: $text-color-1;
			font-weight: 600;
			line-height: 1.5;
			text-align: center;
			font-size: 16px;
		}

		.leaderBoard__paging {
			display: flex;
			justify-content: center;
			margin-top: 16px;
			margin-bottom: 16px;
		}

		.leaderBoard__threeCup {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: -30px;

			img {
				width: 286px;
				display: none;

				@media screen and (max-width: 1080px) {
					display: block;
				}
			}
		}

		.leaderBoard__tops {
			display: flex;
			gap: 20px;

			@media screen and (max-width: 1080px) {
				flex-direction: column;
			}

			.leaderBoard__tops__item {
				flex: 1;
			}
		}
	}
}