@import 'src/components/global-style/base.scss';

.row {
	margin-top: 24px;
	.row__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 16px;
		cursor: pointer;

		.row__header__left {
			color: $text-color-3;
			font-weight: bold;
		}

		.row__header__right {
			display: flex;
			gap: 5px;
			align-items: center;
			padding-left: 24px;
			height: 48px;
			color: $primary-2;
			font-weight: 600;
		}
	}

	.row__body {
		padding-bottom: 16px;
	}
}