@import 'components/global-style/base.scss';

.icake {
	.icake__top {
		margin: -24px;
		padding: 24px;
		background: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
		display: flex;
		align-items: center;
		justify-content: space-between;

		.icake__top__item {
			.icake__top__title {
				color: $text-color-3;
				font-weight: 600;
				font-size: 2.3rem;
			}

			.icake__top__value {
				 
			}

			img {
				width: 60px;
			}
		}
	}
}