@import 'src/components/global-style/base.scss';

.selectToken {
	.selectToken__inputSearch {
		height: 48px;
		min-width: 320px;

		@media screen and (max-width: 576px) {
			min-width: unset;
		}
	}

	.selectToken__commonBase {
		margin-top: 20px;
		margin-bottom: 20px;

		.selectToken__commonList {
			margin-top: 5px;
			display: flex;
			gap: 10px;
			justify-content: space-between;
		}
	}

	.selectToken__listToken {
		max-height: 300px;
		overflow-y: auto;
		margin-left: -24px;
		margin-right: -24px;
	}
}