@import 'components/global-style/base.scss';

.controls {

	&.dark {
		.container {
			.controls__left {
				.controls__view {
					.control__viewItem {
						color: $text-color-19;
					}
				}

				.controls__staking {
					.controls__staking__text {
						color: $text-color-white-2;
					}
				}
			}
		}
	}

	.container {
		@include container;
		padding: 16px 32px;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		flex-wrap: wrap;

		.controls__left {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;

			.controls__view {
				display: flex;
				gap: 15px;

				.control__viewItem {
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;

					&:active {
						position: relative;
						top: 1px;
					}

					&.active {
						color: $primary-2;
					}
				}
			}

			.controls__staking {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;

				.controls__staking__switch {
					transform: scale(0.7);
				}
			}

			.controls__tab {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.controls__right {
			display: flex;
			align-items: center;
			gap: 15px;
			flex-wrap: wrap;

			.controls__right__controlGrounp {
				min-width: 150px;

				label {
					color: $text-color-1;
					font-weight: 600;
					line-height: 1.5;
					text-transform: uppercase;
					font-size: 12px;
				}

				input {
					min-height: 40px;
				}
			}
		}
	}
}