@import 'src/components/global-style/base.scss';

.buyCrypto {
	&.dark {
		.container {
			.buyCrypto__card {
				&.top {
					.buyCrypto__top__header {
						.buyCrypto__top__header__title {
							color: $text-color-white-2;
						}

						.buyCrypto__top__header__small {
							color: $text-color-6;
						}

						.buyCrypto__circle {
							background-color: $background-5
						}
					}
				}

				&.bot {
					.buyCrypto__bot__header {
						background: linear-gradient(166.77deg, #3b4155, #3a3045);
						color: $primary-1;
					}
				}
			}
		}
	}

	.container {
		@include container2;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;

		.buyCrypto__card {
			&.top {
				position: relative;
				overflow: hidden;

				.buyCrypto__top__header {
					display: flex;
					justify-content: space-between;

					.buyCrypto__top__header__title {
						font-size: 20px;
						font-weight: 600;
						line-height: 1.1;
						color: $text-color-3;
					}

					.buyCrypto__top__header__small {
						font-size: 14px;
					}

					.buyCrypto__circle {
						width: 32px;
						height: 32px;
						padding: 2px;
						border-radius: 32px;
						background-color: $background-8;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;

						&:hover {
							opacity: 0.65;
						}

						svg {
							color: $primary-2;
						}
					}
				}

				.buyCrypto__top__content {
					margin-top: 20px;
					display: flex;
					flex-direction: column;
					gap: 20px;
					position: relative;

					&::after {
						content: '';
						display: block;
						position: absolute;
						height: 67%;
						width: 0;
						border-left: 2px dashed $background-12;
						top: 50%;
						left: 50%;
						transform: translate3d(-50%, -60%, 0);
						z-index: 1;
					}

					.buyCryto__input {
						position: relative;
						z-index: 2;

						&:first-child {
							&::after {
								content: '';
								display: block;
								height: 8px;
								width: 8px;
								border-radius: 50%;
								background: $background-12;
								position: absolute;
								bottom: 0;
								left: 50%;
								transform: translate3d(-50%, 50%, 0);
							}
						}
					}
				}

				small {
					color: $text-color-1;
					font-weight: 400;
					padding-left: 4px;
					padding-right: 4px;
					font-size: 14px;
					text-align: center;

					a {
						font-weight: 600;
						color: $primary-2;
					}
				}
			}

			&.bot {
				.buyCrypto__bot__header {
					padding: 24px;
					margin-top: -24px;
					margin-left: -24px;
					margin-right: -24px;
					border-top-left-radius: 24px;
					border-top-right-radius: 24px;
					font-size: 24px;
					font-weight: 600;
					color: $text-color-4;
					background: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
				}

				.buyCrypto__bot__content {
					padding-top: 24px;
				}
			}
		}
	}
}


.buyCrypto__providerDrawerCustom {
	bottom: -5px !important;
	z-index: 25 !important;
}

.buyCrypto__providerDrawerOverlayCustom {
	bottom: -3px !important;
	z-index: 24 !important;
}