@import 'src/components/global-style/base.scss';

.card {
	padding: 1px 1px 3px;
	background-color: $border-color;
	border-radius: $border-radius-2;

	.card__content {
		padding: 24px;
		background-color: $background-1;
		border-color: $border-color;
		border-radius: $border-radius-2;
	}
}
