@import 'components/global-style/base.scss';

.top {
	padding-top: 40px;
	padding-bottom: 40px;
	background: $background-33;
	position: relative;
	height: 23vh;

	@media screen and (max-width: 894px) {
		height: 30vh;
	}

	@media screen and (max-width: 576px) {
		height: 300px;
	}

	&.dark {
		background: $background-34;

		.container {
			.top__content {
				.top__content__item {
					&:last-child {
						button {
							background: $text-color-6;
						}
					}

					.top__title {
						color: $primary-1;
					}

					.top__small {
						color: $text-color-white-2;
					}
				}
			}
		}
	}

	.container {
		@include container;

		.top__content {
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 2;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.top__content__item {
				&:last-child {
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;

					@media screen and (max-width: 576px) {
						justify-content: flex-start;
					}

					button {
						&:hover {
							opacity: 1;
						}
					}
				}

				.top__title {
					font-size: 5.8rem;
					font-weight: 600;
					line-height: 1.1;
					color: $text-color-4;
					margin-bottom: 24px;

					@media screen and (max-width: 768px) {
						font-size: 4rem;
					}
				}

				.top__small {
					font-size: 2rem;
					color: $text-color-3;
					font-weight: 600;

					@media screen and (max-width: 768px) {
						font-size: 1.6rem;
					}
				}
			}
		}
	}

	img {
		position: absolute;
		right: 10%;
		bottom: 0;
		width: 390px;

		@media screen and (max-width: 992px) {
			width: 309px;
		}
	}
}