@import 'components/global-style/base.scss';

.rowItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	&.dark {
		.rowItem__row {
			.rowItem__top {
				color: $text-color-6;
			}

			.rowItem__bottom {
				color: $text-color-white-2;
			}
		}
	}

	.rowItem__img {
		width: 32px;
		height: 32px;

		img {
			width: 100%;
		}
	}

	.rowItem__row {
		flex: 1;

		.rowItem__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: $text-color-21;
			white-space: nowrap;
			font-size: 12px;
			line-height: 16px;
		}

		.rowItem__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: $text-color-3;
			font-weight: 400;
			letter-spacing: -0.02em;
			line-height: 20px;
		}
	}
}