@import 'components/global-style/base.scss';

.topItem {
	&.dark {
		.topItem__card {
			.topItem__row {
				div {
					&:nth-of-type(1) {
						color: $text-color-6;
					}

					&:nth-of-type(2) {
						color: $text-color-white-2;

						.topItem__small {
							color: $text-color-6;
						}
					}
				}
			}
		}
	}

	.topItem__img {
		position: relative;
		z-index: 1;
		bottom: -50px;
		margin: auto;

		@media screen and (max-width: 1080px) {
			display: none;
		}

		img {
			margin: auto;
		}
	}

	.topItem__card {
		position: relative;
		z-index: 2;
		overflow: hidden;

		.topItem__metal {
			display: flex;
			justify-content: center;

			svg {
				&:nth-of-type(2) {
					@media screen and (max-width: 850px) {
						width: 40px;
					}
				}
			}

			&.yellow {
				svg {
					&:first-child {
						fill: $yellow-2;
					}

					&:last-child {
						fill: $yellow-2;
					}
				}
			}

			&.silver {
				svg {
					&:first-child {
						fill: $silver-1;
					}

					&:last-child {
						fill: $silver-1;
					}
				}
			}

			&.brown {
				svg {
					&:first-child {
						fill: $brown-1;
					}

					&:last-child {
						fill: $brown-1;
					}
				}
			}

			svg {
				&:first-child {
					transform: rotateZ(27deg);
				}

				&:last-child {
					transform: rotateY(180deg) rotateZ(27deg);
				}
			}
		}

		.topItem__address {
			text-align: center;
			font-weight: 600;
			color: $primary-2;
		}

		.topItem__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 8px;
			margin-top: 8px;

			div {
				&:nth-of-type(1) {
					color: $text-color-1;
					font-weight: 600;
					line-height: 1.5;
					font-size: 16px;
				}

				&:nth-of-type(2) {
					color: $text-color-3;
					font-weight: 600;
					text-align: right;
					font-size: 20px;
					line-height: 110%;

					.topItem__small {
						color: $text-color-1;
						font-weight: 400;
						line-height: 1.5;
						text-align: right;
						font-size: 12px;
					}
				}
			}
		}

		.topItem__rank {
			padding: 8px 0;
			transform: rotate(-45deg);
			transform-origin: left top;
			width: 96px;
			text-align: center;
			color: $text-color-white-1;
			position: absolute;
			top: 68px;
			left: 1px;

			&::after {
				content: '';
				width: 300px;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 99%;
				background: inherit;
			}

			&::before {
				content: '';
				width: 300px;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				right: 99%;
				background: inherit;
			}

			&.yellow {
				background: $yellow-2;
			}

			&.silver {
				background: $silver-1;
			}

			&.brown {
				background: $brown-1;
			}
		}
	}
}