@import 'components/global-style/base.scss';

.item {

	&.dark {
		.item--title {
			color: $text-color-6;

			.item--titleHight {
				color: $primary-1;
			}
		}

		.item--disableBold {
			color: $text-color-19;
		}

		.item--disable {
			color: $text-color-19;
		}

		.item__content {
			.item__content__main {
				.item__tooltip {
					text-decoration-color: $text-color-6;
					color: $text-color-white-2;
				}

				.item__tooltip__value {
					color: $text-color-white-2;
				}
			}
		}
	}

	.item--row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.item--title {
		color: $text-color-1;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 12px;

		.item--titleHight {
			color: $text-color-4;
		}
	}

	.item--disableBold {
		font-weight: 600;
		color: $text-color-16;
	}

	.item--disable {
		color: $text-color-16;
		font-size: 12px;
	}

	.item__content {
		padding: 0;

		.item__content__main {
			padding: 24px;

			.item__tooltip {
				text-decoration-line: underline;
				text-decoration-thickness: initial;
				text-decoration-style: dotted;
				text-decoration-color: $text-color-1;
				text-underline-offset: 0.1em;
				color: $text-color-3;
				font-weight: 400;
				line-height: 1.5;
				font-size: 16px;
			}

			.item__tooltip__value {
				display: flex;
				align-items: center;
				gap: 5px;
				color: $text-color-3;

				svg {
					cursor: pointer;
				}

				&:hover {
					opacity: 0.65;
				}
			}
		}
	}
}