@import 'components/global-style/base.scss';

.breakdown {
	padding-bottom: 50px;
	background: $background-3;

	&.dark {
		background: $background-6;

		.container {
			.breakdown__title {
				color: $primary-1;
			}

			.breakdown__subTitle {
				color: $text-color-6;
			}
		}
	}

	.container {
		@include container;

		.breakdown__title {
			color: $text-color-4;
			font-weight: 600;
			margin-bottom: 16px;
			line-height: 110%;
			text-align: center;
			font-size: 40px;
		}

		.breakdown__subTitle {
			color: $text-color-1;
			font-weight: 600;
			line-height: 1.5;
			text-align: center;
			font-size: 16px;
		}

		.breakdown__card {
			margin-top: 40px;

		}
	}
}