@import 'src/components/global-style/base.scss';

.paging {
	display: flex;
	align-items: center;
	gap: 15px;
	user-select: none;

	&.dark {
		.paging__text {
			color: $text-color-white-2;
		}
	}

	.paging__button {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: $primary-2;

		&.disable {
			pointer-events: none;
			color: $text-color-16;
		}
	}
}