@import 'src/components/global-style/base.scss';

.dropdownHeader {
	position: relative;
	height: 100%;

	&.dark {
		.headerContainer {
			&.canHover {
				&:hover {
					background-color: $background-5;
				}
			}
		}

		.headerMenuContainer {
			.headerMenu {
				background-color: $background-2;
				border-color: $border-color-3;

				.headerMenu__item {
					&:hover {
						background-color: $background-5;
					}

					&.border {
						border-color: $border-color-3;
					}
				}
			}
		}
	}

	.headerContainer {
		position: relative;
		height: 100%;
		transition: 0.4s;
		border-radius: 15px;
		transition: color .2s, font-weight .2s;

		&.active {
			color: $text-color-4;
			font-weight: 600;
		}

		&.canHover {
			&:hover {
				&.disableHoverEffect {
					background-color: transparent;
				}

				background-color: $hover-1;

				&+.headerMenuContainer {
					display: block;
				}
			}
		}

		svg {
			font-size: 25px;
		}
	}

	.headerMenuContainer {
		position: absolute;
		top: 51px;
		width: 250px;
		padding-top: 7px;
		display: none;

		&.canHover {
			&:hover {
				display: block;
			}
		}

		.headerMenu {
			width: 100%;
			border-radius: 15px;
			background-color: $background-1;
			overflow: hidden;

			.headerMenu__item {
				padding: 10px;
				transition: 0.2s;
				display: flex;
				align-items: center;

				&.active {
					font-weight: 600;
					color: $text-color-4;
				}

				&:hover {
					background-color: $hover-1;
				}

				&.border {
					border-bottom: 1px solid $border-color;
				}
			}
		}
	}
}