@import 'src/components/global-style/base.scss';


@mixin backgroundImage {
	position: absolute;
	z-index: 1;
}

.main {
	background: $background-43;
	position: relative;

	&.dark {
		background: $background-48;

		.container {
			.main__content {
				.main__content__right {
					.main__content__right__header {
						color: $primary-1;
					}

					.main__content__right__text {
						color: $text-color-white-2;
					}
				}
			}
		}
	}

	.container {
		@include container;

		.main__content {
			display: flex;
			align-items: center;
			padding-top: 50px;
			position: relative;
			z-index: 3;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.main__content__left {
				img {
					width: 423px;

					@media screen and (max-width: 576px) {
						width: 100%;
					}
				}
			}

			.main__content__right {
				margin-left: 50px;

				@media screen and (max-width: 768px) {
					margin-left: 0;
				}

				.main__content__right__header {
					font-size: 64px;
					font-weight: 600;
					color: $text-color-4;
					line-height: 110%;

					@media screen and (max-width: 576px) {
						font-size: 38px;
					}
				}

				.main__content__right__text {
					font-size: 24px;
					color: $text-color-3;
					font-weight: 600;
					margin: 32px 0px;
					line-height: 110%;

					@media screen and (max-width: 576px) {
						font-size: 16px;
					}
				}

				.main__content__right__actions {
					display: flex;
					gap: 10px;
					align-items: center;
				}
			}
		}

		.main__backgroundImage {
			.main__dialog {
				left: 11%;
				top: 4%;
				@include topLeftToBottomRight;
				@include backgroundImage;

				@media screen and (max-width: 768px) {
					width: 100px;
				}

				@media screen and (max-width: 576px) {
					top: 10px;
					left: 10px;
				}
			}

			.main__rightPlan {
				right: 4%;
				top: 10%;
				@include botLeftTotopRight;
				@include backgroundImage;

				@media screen and (max-width: 768px) {
					width: 120px;
				}

				@media screen and (max-width: 576px) {
					top: 10px;
					right: 10px;
				}
			}

			.main__bottomPlan {
				left: 8%;
				bottom: 7%;
				@include botLeftTotopRight;
				@include backgroundImage;

				@media screen and (max-width: 768px) {
					width: 120px;
					top: 50%;
					left: 10px;
				}

				@media screen and (max-width: 576px) {
					width: 120px;
				}
			}

		}
	}

	.main__backgroundFooter {
		transform: rotateY(180deg);
		position: relative;
		z-index: 2;
		width: 100%;
	}
}