@import 'components/global-style/base.scss';

.arbPill {
	background: rgb(45, 55, 75);
	align-items: center;
	border-radius: 16px;
	color: rgb(255, 255, 255);
	display: inline-flex;
	font-weight: 400;
	white-space: nowrap;
	height: 28px;
	padding: 0px 8px;
	font-size: 14px;

	svg {
		margin-right: 3px;
	}
}